@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

header .btn_wrapper .active {
  padding: 7px 20px;
  background-color: rgb(228, 245, 245);
  border-color: rgb(9, 114, 109);
}

button {
  border: none;
  outline: none;
  background: none;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: 'Poppins', sans-serif !important;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background-color: #fff;
  border-bottom: 1px solid #1b1b1b;
}

header .btn_wrapper {
  display: flex;
  gap: 10px;
}

header .btn_wrapper a {
  background: none;
  border: 1px solid lightgray;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.3s ease;
}

header .btn_wrapper a:hover {
  padding: 7px 20px;
  background-color: rgb(228, 245, 245);
  border-color: rgb(9, 114, 109);
}

header .nav_bar {
  display: flex;
}

header .nav_bar .logo {
  padding: 20px 25px;
  color: rgb(0, 84, 80);
  font-family: 'Times New Roman';
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  user-select: none;
}

header .nav_bar .logo i {
  border-radius: 50%;
  background-color: rgb(0, 84, 80);
  color: #fff;
  padding: 8px;
}

header .nav_bar ul {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1rem;
  list-style: none;
}

header .nav_bar ul a {
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  transition: all 0.2s ease;
}

header .nav_bar ul a:hover {
  background-color: rgb(228, 245, 245);
  color: rgb(9, 114, 109);
}

::placeholder {
  font-family: 'Poppins';
}

/* MAIN */

main {
  --s: 50px; /* control the size */
  --c1: hsl(177, 85%, 24%);
  --c2: hsl(177, 85%, 10%);

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
  height: calc(100svh - 81px);
  display: grid;
  place-content: center;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 30px 100px #333;
  min-width: 400px;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container form input {
  outline: none;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:focus {
    border-color: hsl(177, 85%, 20%);
    color: hsl(177, 85%, 20%);
  }
}

.container .client-details {
  display: flex;
  flex-direction: column;
}

.container .client-details div {
  display: flex;
  flex-direction: column;
}

.container .input-box div {
  position: relative;
  display: flex;
  align-items: center;
}

.container .input-box input {
  width: 100%;
}

.container .input-box div button {
  position: absolute;
  right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.container .input-box div button svg {
  width: 20px;
  height: 20px;
}

#closedEye {
  display: none;
}

.container .input-box {
  display: flex;
  flex-direction: column;
}

.container .forgot-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .forgot-password a {
  font-size: 0.8rem;
  text-decoration: underline;
  text-decoration-color: rgb(0, 84, 80);
  color: rgb(0, 84, 80);
}

.container .forgot-password div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.container .forgot-password div input[type='checkbox'] {
  appearance: none;
  border: 1px solid #333;
  padding: 0;
  border-radius: 50%;
  display: grid;
  place-content: center;
  height: 1rem;
  aspect-ratio: 1;
}

.container .forgot-password div label {
  white-space: nowrap;
}

.container .forgot-password div input[type='checkbox']::before {
  content: '';
  width: 0.65rem;
  height: 0.65rem;
  border-radius: inherit;
  transform: scale(0);
  transition: 0.1s transform ease-in-out;
  box-shadow: inset 1em 1em #333;
}

.container .forgot-password div input[type='checkbox']:checked::before {
  transform: scale(1);
}

.container form input[type='button'] {
  background: none;
  width: fit-content;
  cursor: pointer;
  padding: 0.4rem 1.5rem;
  font-weight: 600;
  font-family: 'Poppins';
  border: 2px solid #333;
  transition: all 0.1s ease;
}

.container form input[type='button']:hover {
  background-color: rgb(0, 84, 80);
  border-color: rgb(0, 84, 80);
  color: #fff;
}
